# Core functionality - changes here should be rare!
/src/app.py                   @NT-U
/src/backend/database.py      @NT-U
/src/backend/routers/auth.py  @NT-U

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NT-U
